.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1e1e2f;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    align-items: center;
  
    a {
      margin-left: 1.5rem;
      padding: 0.5rem 1rem; 
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  
      &:hover,
      &.active {
        color: #61dafb;
        background-color: rgba(0, 0, 0, 0.4); 
        border-radius: 10px; 
      }
        &:not(.active):hover {
          color: #61dafb;
          background-color: rgba(0, 0, 0, 0.4);
        }
    }
  }
}
.pdpheader{
  border-radius: 100%;
  &:hover,
  &.active {

    cursor: pointer;
    filter: grayscale(100%) brightness(1.2) contrast(1.1);
  }
}
.text-header{
  &:hover,
  &.active {
    cursor:no-drop
  }
}