<div class="app-wrapper">
    <app-header></app-header>
    <main class="main-content">
        <h2>Ma Scolarité</h2>
        <h3>Primaire et secondaire</h3>
        J'ai passé ma scolarité à Brive-La-Gaillarde, en Maternel et en Primaire à l'École des Rosiers dans la Cité des Roses, 
        puis j'ai été au Collège Jean Lurçat, où j'étais membre du Club Informatique. J'ai finalement été au Lycée d'Arsonval.
        <h3>Études Supérieures</h3>
        J'ai d'abord effectué une première année de BTS SIO au Lycée Privée Bahuet de Brive en initiale (37h/semaine), 
        puis, les matières générales ne me plaisant pas, je me suis redirigé en Licence LFLEX Informatique à l'Université 
        Paul Sabatier de Toulouse. En effet, je trouvais perdre mon temps à passer une quinzaine d'heures par semaine à 
        "apprendre" la philosophie, l'économie, le juridique et le management. Ce fut là mon erreur. Ayant pourtant valider ma 
        première année, si j'avais continué, ça m'aurait épargné les aléas de la Faculté. En effet, je ne suis pas fait, comme 
        beaucoup de monde, pour le système universitaire. J'y ai passé 3 semestres, et c'était bien pire. Là où je pensais étudier 
        uniquement mes passions, j'ai finalement finit par étudier l'histoire de l'Astronomie ou d'autre cours secondaires. Bien
        qu'intéressant, ces matières ne me faisaient pas rêver. Et le système global universitaire finit par me faire partir au début
        de mon quatrième semestre. Durant plusieurs mois, j'ai finit paar faire une intégration dans une école à Albi, mais je finis par 
        aller en BTS SIO à Labège, mais cette fois-ci en alternance. N'ayant pas trouvé d'alternance, je travaille donc en service civique
        en marge de mes études. Le système de 15h/semaine me correspondant mieux, 8h de matières globales, cela me va bien mieux. 
    </main>
    <app-footer></app-footer>
</div>