# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
PortfolioApi/.vs/PortfolioApi/FileContentIndex/8f9148e5-1f8c-4973-98f0-4652736509c2.vsidx
PortfolioApi/PortfolioApi/bin/Debug/net8.0/PortfolioApi.exe
PortfolioApi/PortfolioApi/bin/Debug/net8.0/PortfolioApi.dll
PortfolioApi/PortfolioApi/obj/Debug/net8.0/ref/PortfolioApi.dll
PortfolioApi/PortfolioApi/obj/Debug/net8.0/refint/PortfolioApi.dll
PortfolioApi/PortfolioApi/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
PortfolioApi/PortfolioApi/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
PortfolioApi/PortfolioApi/obj/Debug/net8.0/rpswa.dswa.cache.json
PortfolioApi/PortfolioApi/PortfolioApi.csproj
*.pdb
*.exe
*.dll
PortfolioApi/PortfolioApi/obj/Debug/net8.0/PortfolioApi.AssemblyInfo.cs
PortfolioApi/PortfolioApi/obj/Debug/net8.0/PortfolioApi.AssemblyInfoInputs.cache
*.cache
PortfolioApi/PortfolioApi/PortfolioApi.csproj
*.csproj
