<div class="app-wrapper">
    <app-header></app-header>
    <main class="main-content">
        <h1>Mes Expériences Professionnelles</h1>
        <h3>Mes expériences dans l'Informatique</h3>
        Ma première expériences professionnelles dans l'informatique aura lieu lors de mon stage de première année de BTS.
        J'étais alors intégré dans l'équipe informatique de l'entreprise <a href="https://www.karibanbrands.com/fr">KARIBAN BRANDS</a>.
        J'y ai pu expérimenter mon premier Framework avec Magento sur PHP. Ainsi, j'y ai découvert le fonctionnement global
        de la gestion et la correction d'un site web. Cependant, j'étais le seul ayant un lien avec le développement sur site.
        
    </main>
    <app-footer></app-footer>
</div>