<div class="app-wrapper">
    <app-header></app-header>
    <main class="main-content">
        <h1>Mes Expériences Professionnelles</h1>
        <h3>Mes expériences dans l'Informatique</h3>
        Ma première expériences professionnelles dans l'informatique aura lieu lors de mon stage de première année de BTS.
        J'étais alors intégré dans l'équipe informatique de l'entreprise <a href="https://www.karibanbrands.com/fr">KARIBAN BRANDS</a>.
        J'y ai pu expérimenter mon premier Framework avec Magento sur PHP. Ainsi, j'y ai découvert le fonctionnement global
        de la gestion et la correction d'un site web. Cependant, j'étais le seul ayant un lien avec le développement sur site.
        La majorité de mon stage se résumait à résoudre des petits tickets de soucis dans le HTML du site de vente.
        <br> <br>
        Ma deuxième expérience dans ce milieu fut un stage lors d'une intégration dans une école, où je fus référenceur SEO sur des
        sites WordPress. Ce ne fut pas une bonne expérience, ce poste m'éloignant de la création et du développement, se rapprochant
        plus de l'optimisation sur WordPress. 
        <br><br>
        Ma troisième et actuelle expérience dans le milieu est à <a href="https://www.cegedim.fr/Pages/default.aspx">CEGEDIM</a>, une entreprise spécialisé dans la création
        et la maintenance d'applications web pour professionnelles de l'assurance. J'y ai effectué un stage de 6 semaines en Août 2025
        et j'y suis retourné au cours du mois d'octobre et ce jusqu'à fin Août 2026, les tâches que j'y ai effectué me plaisant et le
        travail fournit satisfaisant l'employeur. Les outils utilisés sont biens plus complets que mes précédents stages: Angular pour
        le Front, des DB avec Mongo et une API en ASP.NET. Bien que plus fastidieuses, les tâches effectuées sont plus gratifiantes.
        <h3>Mes expériences hors-Informatique</h3>
        J'ai effectué toutes sortes de petits boulots que ce soit l'été ou en marge de mes études. Sans entrer dans les détails car 
        peu cohérent, voici tout de même une liste des différents métiers effectués:
        <li>
            Été 2021: Ouvrier du bâtiment en Démolition/Désamiantage chez Décutis (Malemort-sur-Corrèze, 19)
        </li>
        <li>
            2021/2022: Serveur/Barman/Assistant de cuisine au Bistrot C. Forget (Brive-La-Gaillarde, 19)
        </li>
        <li>
            Été 2022: Livreur/Facteur à LaPoste (Brive-La-Gaillarde, 19)
        </li>
        <li>
            Été 2023: Employé Polyvalent/Préparateur de commande chez KARIBAN (Villeneuve-lès-Boulocs, 31)
        </li>
        <li>
            Été 2024: Employé en Grande Surface à Carrefour (Brive-La-Gaillarde, 19)
        </li>
    </main>
    <app-footer></app-footer>
</div>