<div class="app-wrapper">
    <app-header></app-header>
    <main class="main-content">
        <h1>Mes Expériences Professionnelles</h1>
        <h3>Mes expériences dans l'Informatique</h3>
        Ma première expériences professionnelles dans l'informatique aura lieu lors de mon stage de première année de BTS.
        J'étais alors intégré dans l'équipe informatique de l'entreprise <a href="https://www.karibanbrands.com/fr">KARIBAN BRANDS</a>.
        J'y ai pu expérimenter mon premier Framework avec Magento sur PHP. Ainsi, j'y ai découvert le fonctionnement global
        de la gestion et la correction d'un site web. Cependant, j'étais le seul ayant un lien avec le développement sur site.
        La majorité de mon stage se résumait à résoudre des petits tickets de soucis dans le HTML du site de vente.
        <br> <br>
        Ma deuxième expérience dans ce milieu fut un stage lors d'une intégration dans une école, où je fus référenceur SEO sur des
        sites WordPress. Ce ne fut pas une bonne expérience, ce poste m'éloignant de la création et du développement, se rapprochant
        plus de l'optimisation sur WordPress. 
                  <div *ngFor="let project of projects" class="project-card">
  <h3>{{ project.title }}</h3>
  <p>{{ project.description }}</p>
  <img [src]="project.image" alt="{{ project.title }}" width="200">
</div>
    </main>
    <app-footer></app-footer>
</div>