<div class="app-wrapper">
  <app-header></app-header>

  <main class="main-content">
    <div class="page">
      <div class="pdp-texte-intro">
        <img src="assets/media/pdp.png" class="pdp" />

        <span class="text-intro">Ici y aura ma tête</span>

        <div class="widget">
          <div class="scroll-container-wrapper">
            <button class="nav left" (click)="scrollLeft()">❮</button>

            <div class="scroll-container" #scrollWidget
              (mouseenter)="pauseAutoScroll()"
              (mouseleave)="resumeAutoScroll()">
              <div class="page" *ngFor="let page of pages">
                <h2><a [routerLink]="page.link">{{ page.title }}</a></h2>
                <p *ngFor="let line of page.lines">{{ line }}</p>
              </div>
            </div>

            <button class="nav right" (click)="scrollRight()">❯</button>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>