
<app-header></app-header>

<div class="presentation-exter">
    <div class="presentation-inter">
        <h1>L'entreprise</h1>
        <p>Fondé en blablabla spécialisé dans l'édition de logiciel pour pro de la santé blabla</p>
        <h1>Première année</h1>
        <h2>Stage de deux mois chez CEGEDIM</h2>
        <p>Lors de ce stage durant l'été 2025, j'ai été affecté au développement de l'UI-KIT utilisé par les développeurs de l'entreprise.</p>
        <h3>UI-KIT: Fonctionnement et explications</h3>
        <p>L'UI-KIT est une application annexe de l'entreprise sur laquelle est développée des composants Angular utilisé de manière redondante
            dans les applications vendus aux clients. Par exemple, un bouton "Valider" qui aura le même fonctionnement sur les applications
            sera développé sur l'UI-KIT afin d'être appelé dans les applications pour économiser le temps de refaire tout le bouton.
        </p>
        <h3>Collaborateurs et hiérarchie</h3>
        <p>Durant ce stage, j'ai été affecté au développement de l'UI-KIT seul afin de monter en compétence en tant que développeur
            junior sans subir le stress des deadlines des autres projets. J'ai été accompagné et encadré durant ce stage par mon tuteur
            Gaël BLAIS ainsi que le manager des équipes du service digital de l'entreprise Bertrand DEGUELLE, la personne la plus expérimenté
            sur cette application. 
        </p>
        <h3>Routine quotidienne</h3>
        <p>Étant en autonomie sur ce sujet, mon manager me donnait des composants angular à créer sur l'UI-KIT, en m'inspirant des
            éléments présents sur les projets qu'il m'indiquait. Chaque rendu était suivi d'une vérification de sa part puis je livrais
            mon code sur le GitLab de l'entreprise
        </p>
        <h3>Technologies utilisées</h3>
        <li>IDE: Visual Studio Code</li>
        <li>Framework: Angular 14</li>
        <li>Langages: HTML, CS, TypeScript</li>
        <li>Versionnage: GitLab & TortoiseGit</li>
        <h3>Compétences acquises</h3>
        <p>Lors de ce stage, j'ai pu entrevoir le quotidien d'un développeur, à savoir: </p>
        <li>Analyser la demande</li>
        <li>Rechercher un duplicata dans les applications mises à ma disposition</li>
        <li>Mettre en place une solution durable et applicable aux autres applications</li>
        <li>Livrer la solution sur le GitLab de l'entreprise</li>
        <li>Rendre compte à mon supérieur de la tâche accomplie</li>

        <h1>Deuxième année</h1>
        <h2>Stage de 10 mois chez CEGEDIM</h2>
        <p>Disclaimer: ce stage est encore en cours, jusqu'à fin Août.</p>
        <h3>Différence avec le premier stage</h3>
        <p>
            J'ai ici été directement intégré à une équipe d'ingénieur sous la supervision d'un Scrum Master. J'ai donc réalisé des
            tâches sous forme de tickets qui m'étaient attribué à chaque début de Sprint. Un sprint est une période de deux semaines
            pendant laquelle l'équipe réalise ses objectifs, qui ont été décidé à l'avance par le Scrum Master, le manager et les 
            collaborateurs.
        </p>

        <h3>Les projets sur lesquels je travaille</h3>
        <p>Au cours de ce stage, j'ai pu travailler sur plusieurs projets:</p>
        <li>Apivia: le site de la Macif</li>
        <li>MNH: La Mutuelle des Hospitaliers</li>
        <li>IGE: Le socle commun de nos applications, comprenant Baloo, la MGEN, et plusieurs dizaines d'autres clients</li>
        <li>La GED: Gestion Électronique de Document</li>
        <li>IDS: Internal Data Solution</li>
        <h3>Les technologies utilisées</h3>
        <p>Les technologies utilisées ici étaient les mêmes que lors du stage précédent, avec ne plus:</p>
        <li>Postman: Simulation d'envoi et vérification de réception de paquets aux API</li>
        <li>Studio 3T: Lecture et modification des Base de Données Mongo</li>
        <li>SonarQube: Vérification de SmellCode et des couvertures de Tests Unitaires</li>

        <h3>Compétences acquises</h3>
        <p>C'est lors de ce stage que j'ai pu expérimenté la pleine vie d'un développeur. Travailler dans une équipe, en méthode
            Agile, avec un Scrum Master, était uen totale immersion dans ce métier. De plus, le traitement accordé par mes
            collègues me faisait oublié que j'étais un stagiaire et je me sentais comme un développeur diplômé à qui on attribue
            des tâches parfois importantes, pour mon plus grand plaisir. J'ai ainsi pu expérimenté et acquérir ces compétences:
        </p>
        <li>Identifier les fonctionnalités attendues du service à produire</li>
        <li>Préparer sa participation à une réunion (Daily, mise au point annuel, présentation de nouveautés)</li>
        <li>Recenser et caractériser des solutions répondant au cahier des charges</li>
        <li>Tester le service et rédiger le rapport du test</li>
        <li>Établir son planning personnel en fonction des exigences et du déroulement du projet</li>
        <li>Rendre compte de son activité (quotidiennement au Daily)</li>
        <li>Analyser les indicateurs de qualité du service et exploiter les indicateurs et les fichiers d’audit(SonarQube)</li>
        <li>Choisir les éléments de la solution à prototyper, le développer et le valider</li>
        <li>Mettre en place et exploiter des  environnements de développement et de test</li>
        <li>Créer, modifier et analyser un composant logiciel</li>
        <li>Réaliser des tests unitaires et les faires fonctionner</li>

        <h3>Focus sur: "La Standardisation Apivia"</h3>
        <p>J'ai été beaucoup sollicité sur plusieurs tâches de Standardisation: l'entreprise souhaite que les applications vendus
            aux clients se rapprochent de plus en plus du socle commun (IGE), aussi bien graphiquement que fonctionnellement. J'ai
            ainsi été missionné pendant plusieurs mois sur beaucoup de tâches de standardisation: adapté le code Apivia pour qu'il
            puisse fonctionner de la même manière qu'IGE. C'est une expérience très enrichissante du fait de la diversité des manipulations
            à effectuer que des différents aspect du métier utilisés. 
        </p>
        <h3>Focus sur: "La Team Support"</h3>
        <p>
            Durant ce stage, un changement majeur pour les équipes a eu lieu: la gestion de l'équipe support a été remanié. Ainsi,
            c'est dorénavant les collaborateurs de chaques équipes qui, durant quelques semaines et à tour de rôle, intégreront
            temporairement cette équipe. La Team Support est chargé de la prise en charge des tâches les plus urgentes directement
            en lien avec le client. Ainsi, je fut le premier de mon équipe à y être affecté, durant trois semaines. Pour exemple, j'ai
            dû trouver un moyen de modifier les en-tête de courriers car un assuré recevait ces lettres au nom de sa défunte épouse. Bien
            sûr, la solution devait être viable et non au cas-par-cas. Ce fut une expérience enrichissante où j'ai pu découvrir un autre
            aspect de la vie d'un développeur.
        </p>
    </div>
</div>
<app-footer></app-footer>