<div class="app-wrapper">
    <app-header></app-header>
    <main class="main-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="identifiant">Identifiant</label>
        <input type="text" id="identifiant" formControlName="identifiant" />
      </div>
    
      <div class="form-group">
        <label for="motdepasse">Mot de passe</label>
        <input type="password" id="motdepasse" formControlName="motDePasse" />
      </div>
    
      <button type="submit" class="login-btn" [disabled]="loading">Se connecter</button>
      <p *ngIf="error" class="error">Utilisateur ou mot de passe incorrect</p>
    </form>
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>