<header class="app-header">
  <div class="logo">
    <a routerLink="/" routerLinkActive="active">
      <img src="assets/media/tete.jpg" alt="Accueil" height="50" width="50" class="pdpheader" />
    </a>
      <span class="text-header">Ordinateur de plongée</span>
  
  </div>
  <nav class="nav-links">
    <a routerLink="/plongée" routerLinkActive="active">Carnet</a>
    <a *ngIf="session.isLoggedIn()" routerLink="/plongée/nouvelle" routerLinkActive="active">Nouvelle plongée</a>
    <a *ngIf="!session.isLoggedIn()" routerLink="/plongée-login" routerLinkActive="active">Connexion</a>
    <a *ngIf="!session.isLoggedIn()" routerLink="/plongée-register" routerLinkActive="active">Inscription</a>
    <button *ngIf="session.isLoggedIn()" type="button" class="logout-btn" (click)="logout()">Déconnexion</button>
  </nav>
</header>