<header class="app-header">
  <div class="logo">
    <a routerLink="/" routerLinkActive="active">
      <img src="assets/media/tete.jpg" alt="Accueil" height="50" width="50" class="pdpheader" />
    </a>
      <span class="text-header">Ordinateur de plongée</span>
  
  </div>
  <nav class="nav-links">
    <a routerLink="/plongée" routerLinkActive="active">Accueil</a>
    <a routerLink="/mes-plongées" routerLinkActive="active">Mes plongées</a>
    <a routerLink="/plongée-login" routerLinkActive="active">Login</a>

  </nav>
</header>